.grid-container {
	font-size: 30px;
	background: beige;
	display: grid;
	grid-template-columns: 150px auto 150px;
	grid-template-rows: repeat(3, 100px);
	gap:  10px;
}

.grid-container > * {
	background: brown;
	border: 1px solid black;
	text-align: center;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

header, footer {
	grid-column: 1 / span 3;
}

@media all and (max-width: 600px){
	aside, article {
		grid-column: 1 / span 3;
	}

	.grid-container {
	grid-template-rows: repeat(5, 100px);
	gap:  10px;
}
}