.cuadrado {
	width: 200px;
	height: 200px;
	background: #aaa;
	position: relative;
	left: 200px;
}
.circulo{
	width: 20px;
	height: 20px;
	background: red;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}